/*导航和轮播图*/
.slideImg{
    width: 100%;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}
.header .navbar-default {
    background-color: rgba(0,0,0,0.1);
    border-color: transparent;
}
.header .navbar-default .navbar-brand {
    color: #777;
}
.header .navbar-default .navbar-brand:hover,
.header .navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.header .navbar-default .navbar-text {
    color: #777;
}
.header .navbar-default .navbar-nav > li > a {
    color: #fff;
}
.header .navbar-default .navbar-nav > li > a:hover,
.header .navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}
.header .navbar-default .navbar-nav > .active > a,
.header .navbar-default .navbar-nav > .active > a:hover,
.header .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: transparent;
}
.header .navbar-default .navbar-nav > .disabled > a,
.header .navbar-default .navbar-nav > .disabled > a:hover,
.header .navbar-default .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.header .navbar-default .navbar-toggle {
    border-color: #ddd;
}
.header .navbar-default .navbar-toggle:hover,
.header .navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
.header .navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
.header .navbar-default .navbar-collapse,
.header .navbar-default .navbar-form {
    border-color: #e7e7e7;
}
.header .navbar-default .navbar-nav > .open > a,
.header .navbar-default .navbar-nav > .open > a:hover,
.header .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: transparent;
}
@media (max-width: 767px) {
    .header .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .header .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .header .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .header .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .header .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .header .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .header .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .header .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .header .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.header .navbar-default .navbar-link {
    color: #777;
}
.header .navbar-default .navbar-link:hover {
    color: #333;
}
.header .navbar-default .btn-link {
    color: #777;
}
.header .navbar-default .btn-link:hover,
.header .navbar-default .btn-link:focus {
    color: #333;
}
.header .navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .header .navbar-default .btn-link:hover,
.header .navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .header .navbar-default .btn-link:focus {
    color: #ccc;
}

/*下拉菜单*/
.header .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: rgba(0,0,0,0.1);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.header .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
}
.header .dropdown-menu > li > a:hover,
.header .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: rgba(0,0,0,0.1);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.open > .dropdown-menu {
    display: block;
}
.open > a {
    outline: 0;
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
}
@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        right: 0;
        left: auto;
    }
    .navbar-right .dropdown-menu-left {
        right: auto;
        left: 0;
    }
}





/*!*产品大图*! 如果设置了定位会影响到后面的固定导航栏*/
.bigProductImg{
    width: 100%;
    /*position: relative;*/
}
.bigProductImg img{
    width: 100%;
}
/*.bigProductImg a{*/
    /*position: absolute;*/
    /*right: 280px;*/
    /*bottom: 200px;*/
    /*width: 100px;*/
    /*height: 30px;*/
    /*background-color: #2e6da4;*/
    /*color: #fff;*/
    /*font-weight: 700;*/
    /*text-align: center;*/
    /*line-height: 30px;*/

/*}*/



/*产品导航栏*/


.productNav{
    width: 100%;
    background-color: #fff;
    height: 100px;
    z-index: 99;
}
.productNav .container-fluid{
    max-width: 1200px;
    padding: 0;
}
.productNav  .navUl{
    padding: 0;
    width: 100%;
    margin: 0 auto;
    list-style: none;
}
.productNav  .navUl>li{
    float: left;
    padding: 0;

    margin-top: 10px;

}
@media (min-width: 992px) {
    .productNav  .navUl>li{
        margin-left: 25px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
.productNav  .navUl>li a{
    display: block;
    text-align: center;

}
.productNav  .navUl li a span{
    display: block;
    margin: 10px 0;
}

.productNav  .navUl>li a span img{
    display: block;
    margin: 0 auto;
}



/*固定在顶部的样式*/
.align-horizontal{
    width: 100%;
    background-color: rgba(2155,255,255,0.9);
    height: 50px;
    z-index: 999;
}

.align-horizontal .container-fluid{
    max-width: 1200px;
    padding: 0;
}
.align-horizontal  .navUl{
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding: 0;
}
.align-horizontal .navUl>li{
    /*width: 11.111%;*/
    float: left;
    margin-top: 5px;
    padding: 0;
    margin-left: 20px;
    /*min-width: 90px;*/
}

.align-horizontal .navUl>li a{
    width: 100%;
    display: block;
    text-align: center;
    color: #424242;
    height: 40px;
    line-height: 40px;
    position: relative;

}
.align-horizontal  .navUl li a span:first-child{
    height: 40px;
    position: absolute;
    top:0;
    left: 0;
    /*margin-right: 6px;*/
    width: 30%;
}
.align-horizontal  .navUl li a span:last-child{
    position: absolute;
    top:0;
    right:0;
    width: 70%;
    height: 40px;
}

.align-horizontal  .navUl li a span img{
    width: 80%;
}




/*<!--新闻缩略图-->*/
@media (max-width: 768px) {
    a,p,span,div {
        font-size: 9px;
    }
}
span,div{
    padding: 0;
    margin: 0;
}
.news .container{
    max-width: 650px;
    margin: 0 auto;
}
.bigNews .imgOne,.bigNews .imgTwo{
    max-width: 300px;
    max-height: 300px;

}
.bigNews .imgOne a,.bigNews .imgTwo a,.bigNews .imgOne a img,.bigNews .imgTwo a img{
    display: block;
    width: 100%;
}
.bigNews .imgOne a,.bigNews .imgTwo a{
    position: relative;
    overflow: hidden;
}

.news .bigNews  .imgOne span,.news .bigNews .imgTwo span{
    position: absolute;
    background-color:rgba(26,93,200,0.4);
    width: 100%;
    height: 30%;
    text-align: center;
    color: #fff;
    font-weight: 500;
    transition: all 0.2s;
    -webkit-transition:all 0.4s ;
    bottom: -20%;

}
/*.news .bigNews  .imgOne span p,.news .bigNews .imgTwo span p{*/
/*padding: 50% 0;*/
/*}*/
.news .bigNews  .imgOne:hover span,.news .bigNews .imgTwo:hover span{
    bottom: 0;
}


.news .smallNews{
    padding: 0;
    margin: 0;
}
.news .smallNews div{
    max-width: 200px;
    max-height: 200px;
    /*float: left;*/
    margin-top: 40px;
}

.news .smallNews .imgone a{
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.news .smallNews .imgone a img{
    display: block;
    width: 100%;
}
.news .smallNews .imgone a span{
    display: block;
    width: 100%;
    height: 100%;
    /*margin: auto 0;*/
    background-color:rgba(26,120,200,0.4);
    /*line-height: 200px;*/
    text-align: center;
    color: #fff;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    transition: all 0.6s;

}
.news .smallNews .imgone a span p{
    margin: 50% 0;
}
.news .smallNews .imgone:hover a span{
    opacity: 0;
}



/*<!--页脚-->*/
.footer{
    width: 100%;
    background-color: #f6f6f6;

}
.footer a,.footer p,.footer h3{
    color: #8c8c8c;
}
.footer .container-fluid{
    padding: 0;
    margin: 0;

}
.footer .container-fluid .row{
    max-width: 980px;
    margin: 0 auto;
    padding-top:20px;
}
.footer .ulList{

    /*float: left;*/
}
.footer .ulList ul{
    list-style: none;
    float: left;
    margin-right: 20px;
}
.footer .ulList ul li{
    padding: 2px 0;
}
.footer .ulList ul li:first-child{
    font-size: 16px;
}
.footer .footerInfo{
    /*float: left;*/
    /*margin-left: 70px;*/
}
.footer .footerInfo .footer-logo,.footer .footerInfo .footer-chinalogo{
    width: 192px;
}
.footer .footerInfo .footer-logo img,.footer .footerInfo .footer-chinalogo img{
    width: 100%;
}
.footer .footernav{
    padding-top: 20px;
    padding-bottom: 60px;
}
.footer .footernav ul{
    list-style: none;

    /*float: left;*/
}
.footer .footernav ul li{
    float: left;
}
.footer .footernav ul li a{
    display: block;
    padding: 0 3px;
    border-right:1px solid #8c8c8c ;
}
.footer .footernav ul li:last-child a{
    border-right:none;
}
.footer .footernav p{
    /*float: right;*/
    /*text-align: right;*/
}
@media (max-width: 992px) {
    .footerInfo {
        /*display: inline-block;*/
        text-align: center;
    }
    .footerInfo div{
        display: inline-block;
    }
    .footernav{
        text-align: center;
    }
    .footernav div{
        display: inline-block;

    }
    .footer-logo img{
        vertical-align: center;
    }
}




/*<!--返回顶部-->*/
.totop{
    display: none;
    width: 40px;
    height: 40px;
    background-color: #1a355e;
    position:fixed;
    bottom: 0;
    right:0;
}